

@mixin mobile {
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px) and (max-width: 1200px) {
        @content;
    }
}

$primary-color: #222;


p {
    color: $primary-color;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: $primary-color;
    font-size: 4rem;
    text-align: center;
    letter-spacing: .25rem;
}

#enter {
    transition: color 1s;
}

#enter:hover {
    color:red;
}

header
{
    margin-top: 3rem;
    text-align: center;
    #globe
    {
        transition: all 1s ease-in-out;
    }
    .transform 
    {
        transform: rotate(360deg);
    }
}

#hideMe {
    height: 900px;
}

#showMe {
    display:  none;
}

html
{
    font-size: 63%;
}
body
{
    font: 1.6rem/1.5 'Futura PT', Georgia, sans-serif;
    margin: 0;
    padding: 0 10%;   
}
header
{
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    #globe
    {
        transition: all 1s ease-in-out;
    }
    .transform 
    {
        transform: rotate(360deg);
    }
}
main
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;

    article
    {
        position: relative;
        overflow: hidden;

        &:hover ul
        {
            opacity: 1;
            transform: translateY(0px);
        }

        ul
        {
            opacity: 0;
            list-style-type: none;
            list-style-image: url("../images/user-icon.svg");
            list-style-position: inside;
            display: block;
            position: absolute;
            bottom: 0.7rem;
            padding: 2rem;
            background-color: rgba(0,0,0,.75);
            color: white;
            width: 100%;
            margin: 0;
            transition: all 0.25s ease-out;
            transform: translateY(30px);

            li:last-of-type
            {
                list-style-image: url("../images/heart.svg");
            }
        }

        img
        {
            margin: 0 auto;
            width: 100%;
            object-fit: cover;
            height: 400px;
        }
    }
}

footer
{
    text-align: center;
}

h1
{
    margin-left: auto;
    margin-right: auto;
}


#hideMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#author
{
    margin: 0;
    display: inline;
    padding: 2px;
}
#quote
{
    padding: 0;
}
@include mobile
{
    main 
    {
        grid-template-columns: 1fr;
    }
}

@include tablet 
{
    main 
    {
        grid-template-columns: 1fr 1fr;
    }
}


.sprite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 200px;
	height:240px;
	background:transparent url('../images/zombie_frame.png') 0 0 no-repeat;
	animation: walker 2s steps(16) infinite;
    animation-play-state: paused;
    transition: color 2s;
}

.sprite:hover {
    animation-play-state: running;
    color: red;
}


@keyframes walker {
	0% {background-position: 0 0;}
	100% {background-position: 0 -3744px;}
}